body {
  font: normal 14px/1.4 Tahoma, Arial, sans-serif;
  margin:0;
  padding:0;
  color: #636363;
  background:url(../img/dw.jpg) no-repeat;
  }
h1 {
  margin: 20px 10px 0px;
  color: #C1CD23;
  }
.source {
  margin: 0px 10px 40px;
  font-size: 11px;
  color: #EEF;
  }
.top {
  font-size:11px;
  text-align:right;
  }
.main {
  width:998px;
  padding:10px;
  background:#FFF;
  border-top: solid 5px #939393;  
  }
a:link,
a:visited {
  color: #800E09;
  text-decoration: none;
  }
a:hover {
  text-decoration:underline;
  }
li {
  font-size:12px;
}
